<mat-toolbar class="navbar">
    <button class="button_imagen" (click)="goTo('home')">
        <img src="../../../assets/images/logo-star-wars.png" alt="Start Wars" class="logo">
    </button>

    <span class="spacer"></span>
    <button mat-icon-button (click)="goTo('home')">
        <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTo('people')">
            <mat-icon>person</mat-icon> Personajes
        </button>
        <button mat-menu-item (click)="goTo('planets')">
            <mat-icon>public</mat-icon> Planetas
        </button>
        <button mat-menu-item (click)="goTo('species')">
            <mat-icon>accessibility_new</mat-icon> Especies
        </button>
        <button mat-menu-item (click)="goTo('vehicles')">
            <mat-icon>directions_car</mat-icon> Vehículos
        </button>
        <button mat-menu-item (click)="goTo('starships')">
            <mat-icon>local_airport</mat-icon> Naves Estelares
        </button>
    </mat-menu>
</mat-toolbar>