<div class="titulo">
    <h1>Planetas</h1>
    <hr>
</div>

<mat-progress-bar *ngIf="planets.length == 0" mode="indeterminate"></mat-progress-bar>

<div *ngIf="planets.length > 0">
    <div class="cards">
        <button *ngFor="let planet of planets" (click)="getPlanet(planet)" class="button_planet">
            <mat-card class="card">
                <div class="planet__icon">
                    <span class="material-icons" style="font-size: 5rem;">
                        public
                    </span>
                </div>
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>{{planet.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content style="text-align: justify;">
                    <hr>
                    <p>
                        <strong>Clima: </strong>{{ planet.climate | titlecase}}
                    </p>
                    <p>
                        <strong>Población: </strong>{{ planet.population | titlecase }}
                    </p>
                    <p>
                        <strong>Graverda: </strong>{{ planet.gravity | titlecase }}
                    </p>
                    <p>
                        <strong>Terreno: </strong>{{ planet.terrain | titlecase}}
                    </p>
                </mat-card-content>

                <mat-card-actions class="actions_card">
                    <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                </mat-card-actions>
            </mat-card>
        </button>
    </div>

    <div class="buttons_page">
        <hr>
        <h2>Página {{page}}</h2>
        <button mat-raised-button color="primary" style="margin-right: 5px;" [disabled]="(page-1) < 1"
            (click)="otherPage(page-1)">Anterior</button>
        <button mat-raised-button color="primary" style="margin-left: 5px;" [disabled]="(page+1) >6"
            (click)="otherPage(page+1)">Siguiente</button>
    </div>
</div>