<div class="titulo">
    <h1>Listado de películas</h1>
    <hr>
</div>


<mat-progress-bar *ngIf="films.length == 0" mode="indeterminate"></mat-progress-bar>

<div *ngIf="films.length > 0">

    <div class="cards">
        <button *ngFor="let film of films; let i = index" (click)="getFilm(i+1)" class="button_planet">
            <mat-card class="card">
                <div class="planet__icon">
                    <span class="material-icons" style="font-size: 5rem;">
                        theaters
                    </span>
                </div>
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>{{film.title}}</mat-card-title>
                    <mat-card-subtitle>Episodio: {{film.episode_id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="text-align: justify;">
                    <hr>
                    <p>
                        <strong>Contexto: </strong>{{ film.opening_crawl}}
                    </p>
                    <p>
                        <strong>Director: </strong>{{ film.director | titlecase }}
                    </p>
                    <p>
                        <strong>Productor: </strong>{{ film.producer | titlecase }}
                    </p>
                    <p>
                        <strong>Fecha de lanzamiento: </strong>{{ film.release_date}}
                    </p>
                </mat-card-content>

                <mat-card-actions class="actions_card">
                    <button mat-stroked-button color="primary" n>Saber más</button>
                </mat-card-actions>
            </mat-card>
        </button>
    </div>
</div>