<div *ngIf="film">
    <div class="titulo">
        <h1>{{film.title}}</h1>
        <hr>
    </div>
    <div class="description">
        <p>
            <strong>Contexto: </strong>{{ film.opening_crawl}}
        </p>
        <p>
            <strong>Director: </strong>{{ film.director | titlecase }}
        </p>
        <p>
            <strong>Productor: </strong>{{ film.producer | titlecase }}
        </p>
        <p>
            <strong>Fecha de lanzamiento: </strong>{{ film.release_date}}
        </p>
        <div class="buttons_films">
            <button mat-stroked-button color="primary" (click)="otherPage(idFilm -1)" [disabled]="idFilm == 1">
                <mat-icon>arrow_back</mat-icon> Anterior Película
            </button>


            <button mat-stroked-button color="primary" (click)="otherPage(idFilm +1)" [disabled]="idFilm == 6"
                style="float: right;">
                Siguiente Película <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-tab-group mat-align-tabs="center">
    <!-- Personajes -->
    <mat-tab label="Personajes">
        <mat-progress-bar *ngIf="people.length == 0" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="people.length > 0">

            <div class="cards">
                <button *ngFor="let person of people" class="button_planet">
                    <mat-card class="card">
                        <div class="planet__icon">
                            <span class="material-icons" style="font-size: 5rem;">
                                person
                            </span>
                        </div>
                        <mat-card-header style="justify-content: center;">
                            <mat-card-title>{{person.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="text-align: justify;">
                            <hr>
                            <p>
                                <strong>Cumpleaños: </strong>{{ person.birth_year}}
                            </p>
                            <p>
                                <strong>Color de ojos: </strong>{{ person.hair_color | titlecase }}
                            </p>
                            <p>
                                <strong>Género: </strong>{{ person.gender | titlecase }}
                            </p>
                            <p>
                                <strong>Altura: </strong>{{ person.height}}
                            </p>
                        </mat-card-content>

                        <mat-card-actions class="actions_card">
                            <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                        </mat-card-actions>
                    </mat-card>
                </button>
            </div>
        </div>

    </mat-tab>
    <!-- Fin personajes -->

    <!-- Planetas -->
    <mat-tab label="Planetas">
        <mat-progress-bar *ngIf="planets.length == 0" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="planets.length > 0">
            <div class="cards">
                <button *ngFor="let planet of planets" class="button_planet">
                    <mat-card class="card">
                        <div class="planet__icon">
                            <span class="material-icons" style="font-size: 5rem;">
                                public
                            </span>
                        </div>
                        <mat-card-header style="justify-content: center;">
                            <mat-card-title>{{planet.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="text-align: justify;">
                            <hr>
                            <p>
                                <strong>Clima: </strong>{{ planet.climate | titlecase}}
                            </p>
                            <p>
                                <strong>Población: </strong>{{ planet.population | titlecase }}
                            </p>
                            <p>
                                <strong>Graverda: </strong>{{ planet.gravity | titlecase }}
                            </p>
                            <p>
                                <strong>Terreno: </strong>{{ planet.terrain | titlecase}}
                            </p>
                        </mat-card-content>

                        <mat-card-actions class="actions_card">
                            <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                        </mat-card-actions>
                    </mat-card>
                </button>
            </div>
        </div>
    </mat-tab>
    <!-- Fin Planetas -->

    <!-- Especies -->
    <mat-tab label="Especies">

        <mat-progress-bar *ngIf="species.length == 0" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="species.length > 0">
            <div class="cards">
                <button *ngFor="let specie of species" class="button_planet">
                    <mat-card class="card">
                        <div class="planet__icon">
                            <span class="material-icons" style="font-size: 5rem;">
                                accessibility_new
                            </span>
                        </div>
                        <mat-card-header style="justify-content: center;">
                            <mat-card-title>{{specie.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="text-align: justify;">
                            <hr>
                            <p>
                                <strong>Clasificación: </strong>{{ specie.designation | titlecase}}
                            </p>
                            <p>
                                <strong>Colores de ojos: </strong>{{ specie.eye_colors | titlecase }}
                            </p>
                            <p>
                                <strong>Colores de pelo: </strong>{{ specie.hair_colors | titlecase }}
                            </p>
                            <p>
                                <strong>Colores de piel: </strong>{{ specie.skin_colors | titlecase}}
                            </p>
                            <p>
                                <strong>Esperanza de vida: </strong>{{ specie.average_lifespan | titlecase}}
                            </p>
                        </mat-card-content>

                        <mat-card-actions class="actions_card">
                            <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                        </mat-card-actions>
                    </mat-card>
                </button>
            </div>
        </div>
    </mat-tab>
    <!-- Finb Especies -->

    <!-- Vehiculos -->
    <mat-tab label="Vehiculos">

        <mat-progress-bar *ngIf="vehicles.length == 0" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="vehicles.length > 0">
            <div class="cards">
                <button *ngFor="let vehicle of vehicles" class="button_planet">
                    <mat-card class="card">
                        <div class="planet__icon">
                            <span class="material-icons" style="font-size: 5rem;">
                                directions_car
                            </span>
                        </div>
                        <mat-card-header style="justify-content: center;">
                            <mat-card-title>{{vehicle.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="text-align: justify;">
                            <hr>
                            <p>
                                <strong>Modelo: </strong>{{ vehicle.model | titlecase}}
                            </p>
                            <p>
                                <strong>Manufactturación: </strong>{{ vehicle.manufacturer | titlecase }}
                            </p>
                            <p>
                                <strong>Coste de créditos: </strong>{{ vehicle.cost_in_credits | titlecase }}
                            </p>
                            <p>
                                <strong>Longitud: </strong>{{ vehicle.length | titlecase}}
                            </p>
                            <p>
                                <strong>Capacidad de carga: </strong>{{ vehicle.cargo_capacity | titlecase}}
                            </p>
                            <p>
                                <strong>Clase de vehículo: </strong>{{ vehicle.vehicle_class | titlecase}}
                            </p>
                        </mat-card-content>

                        <mat-card-actions class="actions_card">
                            <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                        </mat-card-actions>
                    </mat-card>
                </button>
            </div>
        </div>
    </mat-tab>
    <!-- Fin Vehículos -->

    <!-- Naves Estelares -->
    <mat-tab label="Naves Estelares">

        <mat-progress-bar *ngIf="starships.length == 0" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="starships.length > 0">
            <div class="cards">
                <button *ngFor="let starship of starships" class="button_planet">
                    <mat-card class="card">
                        <div class="planet__icon">
                            <span class="material-icons" style="font-size: 5rem;">
                                local_airport
                            </span>
                        </div>
                        <mat-card-header style="justify-content: center;">
                            <mat-card-title>{{starship.name}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="text-align: justify;">
                            <hr>
                            <p>
                                <strong>Modelo: </strong>{{ starship.model | titlecase}}
                            </p>
                            <p>
                                <strong>Manufactturación: </strong>{{ starship.manufacturer | titlecase }}
                            </p>
                            <p>
                                <strong>Coste de créditos: </strong>{{ starship.cost_in_credits | titlecase }}
                            </p>
                            <p>
                                <strong>Longitud: </strong>{{ starship.length | titlecase}}
                            </p>
                            <p>
                                <strong>Capacidad de carga: </strong>{{ starship.cargo_capacity | titlecase}}
                            </p>
                            <p>
                                <strong>Clase de Nave Espacial: </strong>{{ starship.starship_class | titlecase}}
                            </p>
                        </mat-card-content>

                        <mat-card-actions class="actions_card">
                            <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                        </mat-card-actions>
                    </mat-card>
                </button>
            </div>
        </div>
    </mat-tab>
    <!-- Fin Naves Estelares -->

</mat-tab-group>