<div class="titulo">
    <h1>Personajes</h1>
    <hr>
</div>

<mat-progress-bar *ngIf="people.length == 0" mode="indeterminate"></mat-progress-bar>

<div *ngIf="people.length > 0">

    <div class="cards">
        <button *ngFor="let person of people" (click)="getPerson(person)" class="button_planet">
            <mat-card class="card">
                <div class="planet__icon">
                    <span class="material-icons" style="font-size: 5rem;">
                        person
                    </span>
                </div>
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>{{person.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content style="text-align: justify;">
                    <hr>
                    <p>
                        <strong>Cumpleaños: </strong>{{ person.birth_year}}
                    </p>
                    <p>
                        <strong>Color de ojos: </strong>{{ person.hair_color | titlecase }}
                    </p>
                    <p>
                        <strong>Género: </strong>{{ person.gender | titlecase }}
                    </p>
                    <p>
                        <strong>Altura: </strong>{{ person.height}}
                    </p>
                </mat-card-content>

                <mat-card-actions class="actions_card">
                    <button mat-stroked-button color="primary" style="display:none;">Saber más</button>
                </mat-card-actions>
            </mat-card>
        </button>
    </div>

    <div class="buttons_page">
        <hr>
        <h2>Página {{page}}</h2>
        <button mat-raised-button color="primary" style="margin-right: 5px;" [disabled]="!result.previous"
            (click)="otherPage(page-1)">Anterior</button>
        <button mat-raised-button color="primary" style="margin-left: 5px;" [disabled]="!result.next"
            (click)="otherPage(page+1)">Siguiente</button>
    </div>
</div>